*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.75}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
html,
body{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  background: #fff;
  color: #002e4e;
  font-feature-settings: "pkna" 1;
  font-size: 18px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .01em;
}

@media screen and (min-width: 1080px){
  .l-stage,
  body{
    font-size: 18px;
  }
}

.l-stage{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

.l-stage a:hover{
  color: inherit;
}

body{
}

.m-cover{
  text-align: center;
  background-size: cover;
  color: #fff;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .m-cover__inner{
    background: rgb(118,0,201);
    background: linear-gradient(90deg, rgba(118,0,201,1) 0%, rgba(210,0,255,1) 100%);
    background: #fff;
    padding: 3em 2.5em;
    position: relative;
    z-index: 2;
  }

  .m-cover__subtitle{
    margin-top: 1em;
    font-weight: bold;
  }

  h1{
    img{
      width: 100%;
      max-width: 600px;
    }
  }
}
  
  
.m-scene__inner{
  margin: 3em auto;
  max-width: 640px;
  padding: 0 1.5em;
  box-sizing: border-box;
  position: relative;
}

.m-scene__route.m-scene__route--hidden,
.m-scene.m-scene--hidden{
  display: none;
}

.m-scene__num{
  position: absolute;
  right: 1.5em;
  top: -3em;
  color: rgba(0,0,0,.25);
  font-weight: bold;
  font-style: italic;
  font-size: .75em;
}

.m-dialog{
  margin: 2em 0;
}

.m-dialog__name{
  font-weight: bold;
}

.m-dialog.m-dialog--my .m-dialog__name > span{
  text-decoration: underline;
}

.m-dialog__balloon{
  font-family: serif;
}

.m-dialog.m-dialog--my .m-dialog__balloon{
  padding: 1em;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
}

.m-dialog.m-dialog--my[data-player="0"] .m-dialog__balloon{
  outline: 2px solid red;
}

.m-dialog.m-dialog--my .m-dialog__balloon > p > span strong{
  background: #d2fdfb;
}

.m-dialog.m-dialog--my .m-dialog__balloon > p > span:before{
  content: "💬";
}

.m-dialog.m-dialog--blind .m-dialog__name > span,
.m-dialog.m-dialog--blind .m-dialog__balloon > p > span{
  background: #002e4e;
}

.m-dialog.m-dialog--blind .m-dialog__name.m-dialog__name--visible > span,
.m-dialog.m-dialog--blind .m-dialog__balloon.m-dialog__balloon--visible > p > span{
  background: none;

  .m-dialog__blind{
    background: #002e4e;
  }
}

.m-choice{
  background: rgb(91,56,97);
  background: linear-gradient(90deg, rgba(118,0,201,1) 0%, rgba(210,0,255,1) 100%);
  box-shadow: 0 3px 0 #00bdb2;
  color: #fff;
  text-align: center;
  padding: 2em 0;

  &.m-choice--hidden{
    display: none;
  }
}

.m-choice__inner{
  max-width: 640px;
  padding: 0 1em;
  margin: 0 auto;
}

.m-choice__heading{
  font-weight: bold;
  margin-bottom: 1.25em;
}

.m-choice__list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.m-choice__list-item{
  margin: .5em;
}

.m-choice__list-item input{
  display: none;
}

.m-choice__btn{
  border: 2px solid rgba(255,255,255,.5);
  background: rgba(255,255,255,0);
  color: #fff;
  display: block;
  border-radius: 6em;
  padding: .75em 2.5em;
  transition-duration: .2s;
  font-weight: bold;
}

.m-choice__list-item input:checked + .m-choice__btn{
  background: rgba(255,255,255,1);
  color: #000;
}

.m-choice__select{
  position: relative;
  display: inline-block;
}

.m-choice__select-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.75em;
  color: #fff;
  pointer-events: none;
  line-height: 1;
}

.m-choice__select-input{
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: .75em 1.5em .75em 1.5em;
  border-radius: 4em;
  font-weight: bold;
  border: 2px solid rgba(255,255,255,.5);
  background: none;
  color: #fff;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.m-choice__select-input option{
  color: #000;
}

.m-choice__next{
  margin-top: 1em;
  font-size: 2em;
  color: rgba(255,255,255,.4);
  animation-name: next;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.m-choice__next.m-choice__next--hidden{
  display: none;
}

.m-choice__msg-hint{
  margin-bottom: .75em;

  & > span{
    text-decoration: underline;
  }

  &.m-choice__msg-hint--blind > span{
    background: #002e4e;
    color: #002e4e;
    text-decoration: none;
  }
}

.m-pre{
  &.m-pre--hidden{
    display: none;
  }
}

.m-note{
  border: 2px dotted #9cabae;
  padding: 1em;
}

@keyframes next {
  0% {
    transform: translate(0,0px);
  }

  100% {
    transform: translate(0,-15px)
  }
}

.m-gfooter{
  text-align: center;
  padding: 10em 1em 2em 1em;
  font-size: .5em;
  color: rgba(0,0,0,.5);
}

.m-gfooter a{
  color: inherit;
  text-decoration: none;
}